body{
    margin: 0px 0px;
    overflow-x: hidden;
}

.bg-shadow{

    position: absolute;
    z-index: -100;
    /* right: 0; */
}


.navbar {
    /* width: 1636px;
    height: 57.64px; */
    /* margin-right: -50px; */
    padding: 47.02px 142px 46.34px 142px;
    background: rgba(231, 66, 55, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.nav-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


color: #000000;
}

@media screen and (max-width: 1000px) {
 
    .nav-tabs{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
       
        
}

a{
    text-decoration: none;
    color: #000000;
    

}

#tab1,#tab2,#tab3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


color: #000000;
}

#tab4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    color: #FD5956;
    /* text-decoration: underline; */
    /* text-decoration-color: ; */

}

.active-line{
    height: 2px;
    width: 30px;
    background:#FD5956;
    
}

.join-btn{
    /* color: #FFFF; */
    background: #E74237;
    border-radius: 5px;
    padding: 10.85px 29px 11.75px 28px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;

color: #FFFEFD;
}



.team{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.line{
    background: #AC1F2D;
    width: 120px;
    height: 6px;
    /* margin-top: 27.12px; */
}

.heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: -0.015em;

    color: #202124;

}

.blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 179px;
    margin-top: 75px;
}

.block{
    width: 350px;
    height: 483px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 191px 77px rgba(0, 0, 0, 0.01), 0px 108px 65px rgba(0, 0, 0, 0.04), 0px 48px 48px rgba(0, 0, 0, 0.08), 0px 12px 26px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.09);
    
}

.description{
    margin: 24px 24px;
}

.title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 120%;
/* identical to box height, or 34px */


/* Text/txt-primary */

color: #000000;
}

.post{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


/* Text/txt-secondary */

color: #3C3C43;
margin-top: 8px;

}


.line1{
    margin-top: 20px;
    width: 50px;
height: 3px;

/* Icon/i-primary */

background: #000000;
}



.advisor{
   /* text-align: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
}

.line2{
    background: #AC1F2D;
    width: 180px;
    height: 6px;
}

.adv-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 198px;
    margin-top: 75px;
}

/*--------------- Footer----------------------- */



.footer{
    box-shadow: 0px -5px 8px 1px rgba(199,199,199,1);
    /* border: #3C3C43 4px solid; */
    margin-top: 391px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35.68px 116px;
    /* margin-top: 355px; */
    gap: 120px;
    /* box-shadow: 0px -10px 20px #888; */
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    gap: 94px;
    align-items:flex-start;
}

.newsletter{
    width: 307px;

}

.news-heading  {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;

    
}
.useful-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #000000;
}

.line3{
    background: #AC1F2D;
    height: 1.23px;
    width: 65px;

}
.link1,.link2,.link3,.link4{
    margin-top: 22.76px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.03em;

color: #000000;


}

.social{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap:-10px; */
}




@media screen and (max-width: 1000px) {

    .nav-img{
        margin-left: -100px;
    }
    .nav-tabs{
        margin-right: -100px;
    }
    .team{
        margin-top: 50px;
    }
    .blocks{
        padding: 0px 50px 0px 50px;
        gap:100px;
        
    }
    .adv-block{
        padding: 0px 50px 0px 50px;
        gap: 100px;
    }
    .footer{
        margin-top: 70px;
        gap: 30px;
        padding-left: 100px;
        justify-content: center;
    }
    .foot-img{
        margin-left: 50px;
    }
    .footer-content{
       
        gap: 30px;
        
    }
    .social{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 50px;
        

    }
    .social-media{
        display: flex;
        gap: 2px;
    }
    
    
       
        
}



@media screen and (min-width:1000px) and (max-width: 2000px){
    
    .footer-content{
        flex-wrap: nowrap;
    }
    .social{
        margin-left: 250px;
    }
}


@media screen and (min-width:1400px) and (max-width: 2000px){
    .footer{
        flex-wrap: nowrap;
    
        gap:10px;
        
    }
    

}
